# Database
DATABASE_URL="postgresql://user:password@localhost:5432/sistema_frete"
# or MySQL
# DATABASE_URL="mysql://user:password@localhost:3306/sistema_frete"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="sua-chave-secreta-super-segura-aqui-gere-com-openssl-rand-base64-32"

# App
NODE_ENV="development"
